<!DOCTYPE html>
{% load static %}
<html>
<head>
<style>
    body{
        background-image: url(https://www.gosurvey.in/media/dgykztdi/political-blog-banner.jpg);
    }
    #td2{
        padding-left:40%;

    }
    #im1{
        border-radius: 50%;
    }
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
<div class="jumbotron">
<h2>WELCOME TO STRATEGIC POLITICAL ANALYSIS(SP-5) PVT.LTD</H2>

</DIV>
</DIV>
<div class="container">
<div class="jumbotron">
<table>
<tr>
<td>
<h1>login form:</h1>
<form method="post" action="">
{{form.as_p}}
{% csrf_token %}
<button type="submit" class="btn btn-success">LOGIN</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/election/signup" class="btn btn-primary">signup</a>
</td>
<td id="td2">
    <center>
        <img id="im1" src="{% static "images/sp45.jpeg" %}" alt="" height="250px" width="300px">
</center>
</td>
</tr>
</form>
</table>
</div>
</div>
</body>
</html>