.new{
  padding-bottom:20px
}
body{
  width: 1530px;
  height: 768px;
  background:url('https://m.media-amazon.com/images/I/31qu4ixHZ3L._SY355_.jpg');
  bakground-repeat:no-repeat;
  background-size:cover;
}

table{
  width:1000px;
  height:300px;
  color:white;
  background:url('https://m.media-amazon.com/images/I/31qu4ixHZ3L._SY355_.jpg');
  bakground-repeat:no-repeat;
  background-size:cover;
  padding-left:20px;
}
.deal{
   padding-bottom:170px;
   padding-top:5px;
   italic small-caps bold 20px/40px Georgia, serif;
}
table{
width:1000;
}
.container{
padding-right:0px;
}
.ok{
padding-left:30px;
}
td{
margin-right:200px;
}
.deal1{
color:white;
font: italic small-caps bold 30px/50px Georgia, serif;
}
