<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
        body{
            background-image: url(https://i.pinimg.com/originals/5e/76/0c/5e760cba5e9ca01ed6249f1ea49cb104.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Analysis</title>
    <!-- Add your CSS styling or include external stylesheets here -->
    <style>
        /* Add your custom styles here */
    </style>
    <!-- Load Chart.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static "images/sp45.jpeg" %}" height="40px" width="40px" style="border-radius:50%;margin-top:-15%;"></a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'analyze' %}">Total election results<span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-left" method="POST" action="{% url 'search1' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.search_query }}
                </div>
                <button type="submit" class="btn btn-default">Views Analysis of 2009 Loksabha Elections</button>
            </form>
            <form class="navbar-form navbar-left" method="POST" action="{% url 'search2' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.search_query }}
                </div>
                <button type="submit" class="btn btn-default">Views Analysis of 2014 Loksabha Elections</button>
            </form>
            <form class="navbar-form navbar-left" method="POST" action="{% url 'search3' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.search_query }}
                </div>
                <button type="submit" class="btn btn-default">Views Analysis of 2019 Loksabha Elections</button>
            </form>
            
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'signup' %}">Sign UP</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <h1>Election Analysis</h1>

    <h2>Total Votes</h2>
    <p>Total Votes in 2014: {{ total_votes_2014 }}</p>
    <p>Total Votes in 2019: {{ total_votes_2019 }}</p>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <select class="form-control" id="searchCriteria">
                        <option value="sno">S.NO</option>
                        <option value="party">Party</option>
                        <option value="gained">Gained</option>
                        <option value="lost">Lost</option>
                        <option value="percentageDifference">Percentage Difference</option>
                        <option value="totalVotesPolled">Total Votes Polled</option>
                        <option value="totalVotesPercentage">Total Votes Percentage</option>
                        <option value="totalWonSeats">Total Won Seats</option>
                        <option value="totalLostSeats">Total Lost Seats</option>
                        <option value="winPercentagePerParticipationSeats">Win Percentage per Participation Seats</option>
                        <option value="winPercentagePerTotalSeats">Win Percentage per Total Seats</option>
                    </select>
                    <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="filterTable()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Seats Change (2014 to 2019)</h2>
    <table class="table table-hover" id="electionTable">
        <thead>
            <tr>
                <th>S.NO</th>
                <th>Party</th>
                <th>Gained</th>
                <th>Lost</th>
                <th>Percentage Difference</th>
                <th>Total Votes Polled</th>
                <th>Total Votes Percentage</th>
                <th>Total Won Seats</th>
                <th>Total Lost Seats</th>
                <th>Win Percentage per Participation Seats</th>
                <th>Win Percentage per Total Seats</th>
            </tr>
        </thead>
        <tbody>
            {% for party, change in seats_change.items %}
            <tr>
                <td>{{ change.t }}</td>
                <td>{{ party }}</td>
                <td>{{ change.Gained }}</td>
                <td>{{ change.Lost }}</td>
                <td>{{ change.Percentage_Difference }}</td>
                <td>{{ change.total_votes }}</td>
                <td>{{ change.vote_bank }}</td>
                <td>{{ change.no_of_won_seats }}</td>
                <td>{{ change.no_of_lost_seats }}</td>
                <td>{{ change.won_per_par_seats }}</td>
                <td>{{ change.won_per_total_seats }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add a table for tabular representation -->
    <h2>Coalition-wise Votes</h2>
    <table id="coalitionTable">
        <thead>
            <tr>
                <th>Party</th>
                <th>Votes in 2014</th>
                <th>Votes in 2019</th>
            </tr>
        </thead>
        <tbody>
            {% for party in coalition %}
                <tr>
                    <td>{{ party }}</td>
                    <td>{{ coalition_votes_2014.party }}</td>
                    <td>{{ coalition_votes_2019.party }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- JavaScript code to initialize and render charts -->
    <canvas id="myPieChart1" width="400" height="400"></canvas>
    <canvas id="myPieChart2" width="400" height="400"></canvas>
    <canvas id="myBarChart1" width="400" height="400"></canvas>
    <canvas id="myBarChart2" width="400" height="400"></canvas>
    <canvas id="myScatterPlot" width="400" height="400"></canvas>

<script>
    // Use Chart.js to create pie and bar charts
    var jsonData = {{ gained_2014|safe }};
    var jsonData1 = {{ gained_2019|safe }};
    var pieContext1 = document.getElementById('myPieChart1').getContext('2d');
    var barContext1 = document.getElementById('myBarChart1').getContext('2d');
    var barContext2 = document.getElementById('myBarChart2').getContext('2d');
    var pieContext2 = document.getElementById('myPieChart2').getContext('2d');

    // Pie chart
    new Chart(pieContext1, {
        type: 'pie',
        data: {
            labels: Object.keys(jsonData),
            datasets: [{
                data: Object.values(jsonData),
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4CAF50', '#2196F3', '#FF9800', '#795548', '#9C27B0', '#FF5722', '#607D8B']
            }]
        },
        options: {
            responsive: false, // Set to false to disable responsive sizing
            maintainAspectRatio: false, // Set to false to disable maintaining the aspect ratio
            width: 400, // Set the width of the canvas
            height: 400 // Set the height of the canvas
        }
    });

    new Chart(pieContext2, {
        type: 'pie',
        data: {
            labels: Object.keys(jsonData1),
            datasets: [{
                data: Object.values(jsonData1),
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4CAF50', '#2196F3', '#FF9800', '#795548', '#9C27B0', '#FF5722', '#607D8B']
            }]
        },
        options: {
            responsive: false, // Set to false to disable responsive sizing
            maintainAspectRatio: false, // Set to false to disable maintaining the aspect ratio
            width: 400, // Set the width of the canvas
            height: 400 // Set the height of the canvas
        }
    });

    // Bar chart
    new Chart(barContext1, {
        type: 'bar',
        data: {
            labels: Object.keys(jsonData),
            datasets: [{
                label: 'Seats Won',
                data: Object.values(jsonData),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: false, // Set to false to disable responsive sizing
            maintainAspectRatio: false, // Set to false to disable maintaining the aspect ratio
            width: 400, // Set the width of the canvas
            height: 400 // Set the height of the canvas
        }
    });

    new Chart(barContext2, {
        type: 'bar',
        data: {
            labels: Object.keys(jsonData1),
            datasets: [{
                label: 'Seats Won',
                data: Object.values(jsonData1),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: false, // Set to false to disable responsive sizing
            maintainAspectRatio: false, // Set to false to disable maintaining the aspect ratio
            width: 400, // Set the width of the canvas
            height: 400 // Set the height of the canvas
        }
    });

    // Initialize DataTable
    $(document).ready( function () {
        $('#electionTable').DataTable();
    });
</script>

</body>
</html>
